# Jupyter enviournment  is better than IDLE (python 3.11)
* i will continue Here...

In [19]:
# Dont use first line because its reserved in some IDEs.
import numpy as np
import pandas as pd
import jalalidate as jd

In [4]:
My_series = pd.Series(data = np.random.randint(1, 10, 4),
                      index = 'A B C D'.split(), dtype = 'int8')
My_series

A    9
B    7
C    4
D    4
dtype: int8

In [6]:
sample = pd.DataFrame(data = np.random.randn(5,4),
                  index = '1 2 3 4 5'.split(),
                  columns = 'W X Y Z'.split())
sample

          W         X         Y         Z
1  1.431247  0.900664 -0.755528 -1.159627
2 -2.061222  0.314804 -1.076156  0.119191
3 -0.326572 -0.365431 -0.660534 -1.004439
4 -0.936975 -0.450551 -0.275811 -1.584652
5 -1.091603 -0.225869 -0.476181 -0.604237

### Loading Dataset to python...

In [9]:
My_Data = pd.read_csv('Iran_food_prices.csv')

My_Data

,date,province,city,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,cereals and tubers,Rice,KG,actual,Retail,IRR,26860.0,0.6353
1,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,"meat, fish and eggs",Eggs,1.8 KG,actual,Retail,IRR,52760.0,1.2479
2,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,miscellaneous food,Sugar (white),KG,actual,Retail,IRR,15890.0,0.3758
3,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,oil and fats,Oil (vegetable),810 G,actual,Retail,IRR,25790.0,0.6100
4,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,pulses and nuts,Lentils (green),900 G,actual,Retail,IRR,27369.0,0.6473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,10/15/2022,Tehran,Tehran,Tehran Market,35.72,51.4,vegetables and fruits,Cucumbers,KG,actual,Retail,IRR,180000.0,4.2574
745,10/15/2022,Tehran,Tehran,Tehran Market,35.72,51.4,vegetables and fruits,Eggplants,KG,actual,Retail,IRR,120000.0,2.8383
746,10/15/2022,Tehran,Tehran,Tehran Market,35.72,51.4,vegetables and fruits,Onions,KG,actual,Retail,IRR,90000.0,2.1287
747,10/15/2022,Tehran,Tehran,Tehran Market,35.72,51.4,vegetables and fruits,Parsley,KG,actual,Retail,IRR,240000.0,5.6765
748,10/15/2022,Tehran,Tehran,Tehran Market,35.72,51.4,vegetables and fruits,Tomatoes,KG,actual,Retail,IRR,160000.0,3.7844

In [13]:
df

          W         X         Y         Z
1 -1.619365 -0.437310 -0.974126 -0.738756
2 -0.472818 -1.254567  1.619702 -1.187592
3  0.150189 -1.817416 -0.706926 -1.962688
4 -0.782613  0.188885 -3.106036 -2.295071
5 -0.343257 -1.115304  1.651963  1.332541

In [12]:
df.loc['1']

W   -1.619365
X   -0.437310
Y   -0.974126
Z   -0.738756
Name: 1, dtype: float64

In [17]:
My_Data.keys()

Index(['date', 'province', 'city', 'market', 'latitude', 'longitude',
       'category', 'commodity', 'unit', 'priceflag', 'pricetype', 'currency',
       'price', 'usdprice'],
      dtype='object')

In [18]:
My_Data.head()

,date,province,city,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,cereals and tubers,Rice,KG,actual,Retail,IRR,26860.0,0.6353
1,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,"meat, fish and eggs",Eggs,1.8 KG,actual,Retail,IRR,52760.0,1.2479
2,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,miscellaneous food,Sugar (white),KG,actual,Retail,IRR,15890.0,0.3758
3,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,oil and fats,Oil (vegetable),810 G,actual,Retail,IRR,25790.0,0.6100
4,4/15/2012,Tehran,Tehran,Tehran Market,35.72,51.4,pulses and nuts,Lentils (green),900 G,actual,Retail,IRR,27369.0,0.6473